<%= form_for [@question, Answer.new] do |f| %>
    <div class="field">
      <%= f.text_area :description, rows: 2, class: 'span8' %>
    </div>
    <div class="actions">
      <% if @voted == nil %>
      <%= f.submit class: 'btn' %>
      <% else @voted.include? @question.id.to_s %>
      You have now voted or already voted.
      <% end %>
    </div>
<% end %>
