<h2>Editing Poll</h2>

<table>
  <tr>
    <td><%= @poll.title %></td>
  </tr>
  <% @poll.questions.each do |question| %>
    <tr>
      <td>
        <%= question.description %>
        <%= link_to 'Destroy', question_path(question.id), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <%end%>
</table>

<div class = 'row'>
    <h2>Question</h2>
    <%= render 'questions/form' %>
</div>