<h1>Polls</h1>

<% @polls.each do |poll| %>
  <dl class = 'dl-horizontal'>
    <dt><%= poll.title %></dt>
     <dd> <%= link_to 'Show', poll %> | 
      <%= link_to 'Edit', edit_poll_path(poll) %> | 
      <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %>
    </dd>
  </dl>
<% end %>
